body {
    background-color: rgb(128, 128, 128);
    width: 500px;
    padding-bottom: 20px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 8px 8px black;
    display: grid;
    justify-content: center;
}

#configForm {
    display: grid;

}

#configTextarea {
    resize: vertical;
    max-height: 300px;
    /* width: 400px; */
    height: 400px;
    font-family: 'Courier New', monospace;
    overflow: auto;
    /* display: flex; */
    justify-content: center;
    /* top: 50px; */
    position: relative;
    box-shadow: 0 0 10px 2px #000000;
    border: 1px solid #ccc;
    padding: 30px 50px;
    background-color: #f5f5f5;
    width: 600px;
    /* height: min-content; */
    color: black;
    text-shadow: 0 0 black;
    white-space: pre-wrap;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

.Title {
    justify-content: center;
    padding-bottom: 20px;
    display: contents;
}

.wrapperOuter {
width: fit-content;
}

.saveConfig {
    display: grid;
    position: relative;
    height: 200px;
}